.v-catalog {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    &__list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 5%;
    }
  }
  &__filters {
    width: 20%;
  }
}

.pagination {
  display: flex;
  margin: $margin;
  list-style-type: none;
  align-items: flex-end;
}

.active {
  background-color: teal;
  color: white;
}
.page-item {
  padding: $padding * 2 0;
  border-radius: $radius;
  &:hover {
    color: white;
    background-color: $is_hover;
  }
  &:active {
    color: white;
    background-color: $is_activ;
  }
}
.page-link {
  padding: $padding * 2;
  cursor: pointer;
}
@media (max-width: 599px) {
  .v-catalog {
    flex-direction: column;
    align-items: flex-start;
    &__wrapper {
      width: 100%;
    }
  }
}
