.v-cart-item {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: $padding * 2;
  margin-top: $margin * 4;
  height: 200px;

  &__btn {
    border: none;
    margin: $margin;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    width: 25px;
    height: 25px;
    background-image: url('@/assets/icons/remove__cart.svg');
    cursor: pointer;
  }

  &__cost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    display: flex;

    &__image {
      object-fit: contain;
      height: 168px;
      width: 150px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: $margin * 4;
      align-items: flex-start;

      &__title {
        text-align: start;
      }

      &__feature {
        margin-top: $margin * 2;
        font-size: 15px;
      }
    }
  }
  &__quantity_btn {
    cursor: pointer;
  }
}
