.v-catalog-item {
  display: flex;
  flex: 1 1 30%;
  max-width: 30%;
  flex-direction: column;
  height: 370px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: $padding * 2 $padding * 2 $padding;
  margin-bottom: 30px;
  justify-content: space-between;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $margin 20px;
    &__name {
      font-size: 14px;
      margin-bottom: $margin;
    }
    &__price {
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__image {
    object-fit: contain;
    height: 200px;
  }
  &__card_btn {
    box-sizing: border-box;
    width: 100%;
    &:hover {
      background-color: $is_hover;
    }
    &:active {
      background-color: $is_activ;
    }
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .v-catalog-item {
    flex: 1 1 47%;
    max-width: 47%;
  }
}
@media (max-width: 599px) {
  .v-catalog-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
