@import 'variables.scss';
/* open-sans-300 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open Sans Light'),
    url('/src/assets/fonts/open-sans-v34-cyrillic_latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/src/assets/fonts/open-sans-v34-cyrillic_latin-300.woff')
      format('woff'); /* Modern Browsers */
}
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open Sans Regular'),
    url('/src/assets/fonts/open-sans-v34-cyrillic_latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/src/assets/fonts/open-sans-v34-cyrillic_latin-regular.woff')
      format('woff'); /* Modern Browsers */
}
/* open-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('Open Sans SemiBold'),
    url('/src/assets/fonts/open-sans-v34-cyrillic_latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/src/assets/fonts/open-sans-v34-cyrillic_latin-600.woff')
      format('woff'); /* Modern Browsers */
}

#app {
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
}

.btn {
  padding: $padding * 2;
  border-radius: $radius;
  font-size: 16px;
  color: #2c3e50;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
